body {
    font-family: "Quicksand", sans-serif;
    color: #f08080;
    font-weight: 400;
}

.text-muted {
    color: #ffb6c1;
}

.title-super {
    font-weight: 300;
    font-size: 50px;
}

.title-logo {
    margin-top: 20px;
    max-width: 80px;
}

img {
    margin-left:auto;
    margin-right:auto;
}

hr {
    height: 3px;
    background-color: #7d97ad;
}

.col-md-4 > h3 {
    color: #b22222;
    font-weight: 700;
}

footer {
    margin-top: 20px;
}
